/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */


 .move{
    position: absolute;
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
}

#forward{
   right: 60px;
}

#back{
   left: 100px;
}

.move:focus {
    outline: none;
  }
  
.move:hover {
    background: #ccc;
    cursor: pointer;
  }
 
.carousel img{
    width: 130px;
    height: 130px;
    display:inline;
    flex: center
}

ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    margin-left:0px;
    transition:margin-left 250ms;
    display:block;
}
  
ul img {
    width: 130px;
    height: 130px;
    display: inline; 
}
  
ul li {
    display: inline; 
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 45%;
    height: 200px;
    margin: 48px auto;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    transition: background-image 0.8s ease-in-out;
}

.gallery{
    display:block;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    width: 390px;
    padding-top: 25px;
}
