#mapid {
    height: 180px; 
    margin-left: 000px;
    margin-right: 600px;
    width: 400px;
    height: 400px;
}

#submit {
    margin-top: 10px;
}

h1 {
    font-weight: 900;
}

#text-search {
    position: fixed;
}

#submit {
    margin-top: 30px;
    position: fixed;
}

.suggestions {
    margin-top: 75px;
}

.suggestions li {
    background: #f0e169;
    list-style: none;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin-top: 40px;
    padding: 10px;
    width: 100%;
    left: 0%;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-transform: capitalize;
  }
  
  .suggestions li:nth-child(even) {
    margin: 10px;
    background:linear-gradient(yellow,white);
  }
  
  .suggestions li:nth-child(odd) {
    margin: 10px;
    background:linear-gradient(yellow,white);
  }

  