h1 {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Reggae One', cursive;
  }
  
  body {
    font-family: 'Anton', sans-serif;
    background: green;
    color: #fff;
    padding: 50px 0;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container * {
    box-sizing: border-box;
  }
  
  .text-inputs,
  .checkboxes {
    list-style-type: none;
    padding: 0;
  }
  
  .text-inputs {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .text-inputs li,
  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .checkboxes {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .test-inputs> li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .text-inputs li label,
  .text-inputs li p {
    padding: 8px;
    font-weight: 300;
    margin-top: 0px;
  }
  
  .text-inputs > li > label,
  .text-inputs li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  
  .text-inputs > li > label + *,
  .checkboxes {
    flex: 1 0 220px;
  }
  
  .text-inputs li p {
    margin: 0;
  }
  
  .text-inputs li input:not([type='checkbox']),
  .text-inputs li textarea {
    padding: 15px;
    border: none;
  }
  
  .text-inputs li button {
    margin-top: 30px;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    border-radius: 2px;
    font-family: 'Anton', sans-serif;
  }
  
  .checkboxes li {
    width: 100px;
  }